table {
    width: 100%;
  }

  .top {
    align-items: center;
    text-align: center;
}

.card-content {
    // height: 60vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login-card {
    padding: 20px;
    padding-top: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-container > * {
    width: 100%;
  }

form {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 10px;
}



.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 20px;
}

.setup-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.form-full-width {
    // min-width: 300px;
    width: 100%;
  }

.text-center{
    text-align: center;
}