<h1> Our Team </h1>
<div style="margin-bottom: 40px;">
<ul>
    <li>
        <h2> Dipan Roy</h2>
    </li>
    <h3>Third Year, Dept of ECE, Kalyani Government Engineering College</h3>
    <h4> Dipan worked on the Admin web page, AI chat bot and
        integrating the map API with the app </h4>
    <p>dipan.roy@kgec.edu.in</p>
    <li>
        <h2> Debadree Chatterjee</h2>
    </li>
    <h3>First Year, Dept of IT, Kalyani Government Engineering College</h3>
    <h4> Debadree worked on making the Suswastha app with his immense knowledge
        of flutter and getting the Covid-19 live tracker ready </h4>
    <p>debadree333@gmail.com</p>
    <li>
        <h2> Ankit Kurmi </h2>
    </li>
    <h3>Second Year, Dept of CSE, Kalyani Government Engineering College</h3>
    <h4> Ankit worked in making the Chat bot up and running and also
        worked on the web admin page </h4>
    <p>ankitkurmi152@gmail.com</p>
    <li>
        <h2> Ayush Singh</h2>
    </li>
    <h3>First Year, Dept of ECE, Kalyani Government Engineering College</h3>
    <h4> Ayush worked on making the chat bot using DialogFlow and integrating it
        with the app. </h4>
    <p>coding.ayush@gmail.com</p>
    <li>
        <h2> Sayantan Sadhu</h2>
    </li>
    <h3>First Year, Dept of IT, Kalyani Government Engineering College</h3>
    <h4> Sayantan worked on the web admin page in frontend as well as the backend and helped in getting
        the presentation ready.
    </h4>
    <p>sayantan.sadhu1410@gmail.com</p>
    <li>
        <h2>Rishav Dutta </h2>
    </li>
    <h3>First Year, Dept of ECE, Kalyani Government Engineering College</h3>
    <h4> Rishav worked in the Frontend and making the graphics and
        well as the presentation too. </h4>
    <p>rishavdutta006@gmail.com</p>
    <li>
        <h2> Anindya Kanti Mitra</h2>
    </li>
    <h3>First Year, Dept of ECE, Kalyani Government Engineering College</h3>
    <h4> Anindya worked on the Chat bot using DialogFlow and worked
        on the backend of the app </h4>
    <p>anindya15112@gmail.com</p>
    <li>
        <h2> Aryan Barnwal</h2>
    </li>
    <h3>First Year, Dept of IT, Kalyani Government Engineering College</h3>
    <h4> Aryan worked in making the Report Complanints page of the Suswastha app
        and getting the FireBase Authentication done. </h4>
    <p>aryanbarnwal007@gmail.com</p>
</ul>
</div>